<h1><%=t(:editing_forum_topic_label)%></h1>

<div id="sub_nav">
  <%= link_to t(:back_to, :nome => @forum.name), forum_path(@forum) %>
</div>


<%= error_messages_for :forum_topic %>

<% less_form_for(@topic, :url => forum_topic_url(@topic.forum, @topic)) do |f| %>

    <%= render :partial => 'form', :locals => {:f => f }%>

<% end %>

