<%
#locals
blog ||= @blog
%>




<div id="blog">
  <% less_form_for [@profile, blog] do |f| %>
    <%= f.text_field :title %>
    <%= f.text_area :body %>
    
    <%= t(:youtube_label) %>
	  <div class="row button">
    	<%= f.submit t(:option_save), :class=>'button' %>
  	</div>
  <% end %>
</div>
