<% 
#locals
blogs ||= @blogs
@count = blogs.total_entries

unless blogs.empty? 
    
%>


<div class="right" id="column_r">
  <div class="activity_box">
    <h2><%= t(:blog_post_history) %></h2>
    <ul id="post_history">
      <%= blogs_li blogs %>
    </ul>


    <%= will_paginate blogs %>
  </div>
</div>
<% end %>
