<%
  news ||= recent_news(@page, @per_page)
%>
<div>
  <div id="sub_nav">
    <%= link_to t(:back_to, :nome => t(:home)), home_path() %>
  </div>
  <div class="activity_box">
    <h2><%=t(:all_news_label)%></h2>
    <%= render :partial => 'blogs/newest_notice', :collection => news %>
  	<%= will_paginate news %>
  </div>
  <div class="clear"></div>
</div>

