
<div id="<%# comment.dom_id %>" class="revision_holder">
  <div class="date_details_white">
    <%= wiki_revision.created_at %>, <%= link_to h(wiki_revision.profile.f), wiki_revision.profile %> editou a página <%= link_to wiki_revision.page.title, wiki_page_path(wiki_revision.page) %>.
  </div>
  <div class="clear"></div>
</div>
