<div id="sub_nav">
  <%= link_to "&larr; Voltar para o Histórico", wiki_page_wiki_revisions_path(@wiki_page) %>
</div>

<% @title = "Revisão de #{@wiki_page.title}" %>

<div id="wiki_revision">
  
  <div class="wiki_content">
    <%= to_html @wiki_revision.text %>
  </div>

  <p class="wiki_metadata">
    Revisão do dia
    <strong><%= @wiki_revision.created_at.strftime('%d/%m/%y às %H:%M:%S') %></strong> por
    <%= link_to @wiki_revision.profile.f, profile_path(@wiki_revision.profile) %>
  </p>

</div>
