<div id="upload_a_photo">
  <h2><%=t(:upload_a_photo)%></h2>

  <% less_form_for [@p,@photo], :html => {:multipart=>true} do |f| %>
    <%= f.wrap(:image, :label => "#{t(:photo_label)}: "){file_column_field "photo", "image", :size => 15} %>
  	<%= f.text_area :caption %>
	
  	<div class="row button">
    	<%= f.submit t(:option_upload_photo), :class=>"button" %>
  	</div>
  <% end %>

  <div class="clear"></div>
</div>
