<% less_form_for @user, :url => login_path, :method => :post do |f| %>
  <div id="login_form">
    <h1><%=t(:login_your_account)%></h1>

    <%= f.text_field :login, :class => "focus_first" %>
    <%= f.password_field :password %>

    <div class="button">
     <%= f.submit t(:login_now), :class=>'button' %>
    </div>

  </div>
<% end %>

